.js-plotly-plot .plotly .modebar {
    right: 0%;
    /*padding-top: 5%;
    margin-right: 3.5%;*/
}

.two.columns {
    width: 16.25%;
}
  
.column,
.columns {
    margin: 1% !important;
}
  
.pretty_container {
    border-radius: 5px;
    background-color: #22252b;
    /*margin: 10px !important;*/
    /*margin: 10px !important;*/
    padding: 15px;
    position: relative;
    /*box-shadow: 2px 2px 2px lightgray;*/
}

@media only screen and (max-width: 1400px) {
    .one, .two, .three, .five, .six,
    .seven, .nine, .ten, .eleven, .twelve  {width: 98% !important;}
    .eight {width: 60% !important;}
    .four {width: 25% !important;}
}
  
#radio-buttom-province, #radio-buttom-plot-style{
    padding-top: 40px;
    text-align: center;
    background-color: rgb(33, 33, 33);/* #22252b; */
}

Select, .Select div, .Select input, .Select span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;  /* Text color Input */
    background-color: #22252b;
}
.is-open>.Select-control {
    background-color: #22252b; 
    border-radius: 4px;
    border: 1px solid #ccc;
    color:white;
}

#main{
    position: relative;
    background-color: #22252b; /* rgb(61, 5, 5);*/
}

.flex-display {
    display: flex;
    /*justify-content: center;*/
}

.mini_container {
    border-radius: 5px;
    background-color: #22252b;
    margin: 10px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
}

.info_container {
    border-radius: 5px;
    background-color: #22252b;
    /*margin: 10px 10px 10px 10px !important; */
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
  }

#checklist{
    padding: 10px;
    text-align: center;
    background-color: rgb(33, 33, 33);/* #22252b; */
}
/*
.Select-control {
    background-color: #22252b;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    overflow: hidden;
    
}

.Select-control, .Select-input>input {
    width: 100%;
    cursor: default;
    outline: 0;
}

.Select, .Select-control {
    position: relative;
}

.Select-menu-outer  div{
    background-color:red; 
    box-shadow: red;
}

.is-open>.Select-control {
    background-color: #22252b; 
    border-radius: 4px;
    border: 1px solid #ccc;
    color:white;
}

.Select-control div{
    background-color: #22252b; 
}
.Select-menu-outer  div:hover{
    background-color:rgb(33, 33, 33); 
    box-shadow: rgb(33, 33, 33);
}

.Select-menu-outer:focus{
    background-color:rgb(33, 33, 33); 
    box-shadow: rgb(33, 33, 33);
}
*/

