js-plotly-plot .plotly .modebar {
    right: 0%;
    /*padding-top: 5%;
    margin-right: 3.5%;*/
}

.two.columns {
    width: 16.25%;
}
  
.column,
.columns {
    margin: 1% !important;
}

  
.pretty_container {
    border-radius: 5px;
    background-color: #0E1428; /*#22252b;*/
    margin: 10px !important;
    /*margin: 10px !important;*/
    padding: 35px;
    position: relative;
    /*box-shadow: 2px 2px 2px lightgray;*/
}

.center {
    /* Class to center an image*/
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    /*width: 50%;*/
}

.myh3{
    color: purple;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.three_modified { width: 27.33% }
/*.four {width: 33.33% !important;}*/

.four_modified { width: 30.32% }
.four_modified1 { width: 32.99% }
.eigth_modified { width: 67.32% }

@media only screen and (max-width: 1400px) {
    body {
        margin : 1% 1% 1% 1% !important;
    }
    .one, .two, .three .four, .five, .six,
    .seven, .nine, .ten, .eleven, .twelve , .eigth,
    .four_modified, .eigth_modified  {width: 98% !important;}

    .four_modified1 {width: 98% !important;}
}
  
#radio-buttom-province, #radio-buttom-plot-style{
    padding-top: 40px;
    text-align: center;
    background-color: rgb(33, 33, 33);/* #22252b; */
}

/* Overriding React Select background before selecting item */
div .Select.is-focused > .Select-control {
    background: rgb(33, 33, 33);
}
/* Overriding React Select background after selecting item */
div .Select.is-focused:not(.is-open) > .Select-control {
    background: rgb(33, 33, 33);
}

Select, .Select div, .Select input, .Select span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;  /* Text color Input */
    background-color: #22252b;
}
.is-open>.Select-control {
    background-color: #22252b; 
    border-radius: 4px;
    border: 1px solid #ccc;
    color:white;
}

#main{
    position: relative;
    /*background-color: #8699B9;*/ 
}

.flex-display {
    display: flex;
    /*justify-content: center;*/
}

.mini_container {
    border-radius: 5px;
    background-color: #0E1428;
    margin: 10px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
}

.info_container {
    border-radius: 5px;
    background-color: #0E1428; 
    /*margin: 10px 10px 10px 10px !important; */
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
  }

#checklist{
    padding: 10px;
    text-align: center;
    background-color: rgb(33, 33, 33);/* #22252b; */
}
/*
.Select-control {
    background-color: #22252b;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    overflow: hidden;
    
}
.Select-control, .Select-input>input {
    width: 100%;
    cursor: default;
    outline: 0;
}
.Select, .Select-control {
    position: relative;
}
.Select-menu-outer  div{
    background-color:red; 
    box-shadow: red;
}
.is-open>.Select-control {
    background-color: #22252b; 
    border-radius: 4px;
    border: 1px solid #ccc;
    color:white;
}
.Select-control div{
    background-color: #22252b; 
}
.Select-menu-outer  div:hover{
    background-color:rgb(33, 33, 33); 
    box-shadow: rgb(33, 33, 33);
}
.Select-menu-outer:focus{
    background-color:rgb(33, 33, 33); 
    box-shadow: rgb(33, 33, 33);
}
*/